<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timemotion">

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tm"
        android:label="@string/app_name"
        android:theme="@style/CustomStyle.DarkTheme"
        >
        <activity
            android:name="com.example.timemotion.Main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.timemotion.AddToDo.AddToDoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.timemotion.Main.MainActivity"
            />

        <activity android:name="com.example.timemotion.About.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.timemotion.Main.MainActivity"
            />

        <activity android:name="com.example.timemotion.Reminder.ReminderActivity"
            android:label="@string/app_name"
            />

        <service android:name="com.example.timemotion.Utility.TodoNotificationService"
            />
        <service android:name="com.example.timemotion.Utility.DeleteNotificationService"
            />
        <activity android:name="com.example.timemotion.Settings.SettingsActivity"
            android:parentActivityName="com.example.timemotion.Main.MainActivity"

            />

    </application>


</manifest>